* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.lg-hidden {
  display: none;
}

.global-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.gnb-log {
  display: flex;
  justify-content: flex-end;
  padding: 30px 50px;
}

.gnb-log li a {
  margin-right: 16px;
  font-size: 15px;
}

.gnb-log li:last-child a {
  margin-right: 0;
}

.gnb-log li a i {
  margin-right: 4px;
}

.gnb-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.gnb-main-list {
  display: flex;
}

.gnb-main-item {
  position: relative;
}


.gnb-main-item a:hover,
.gnb-main-item a.active {
  color: darkblue;
}
.square{
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  display: none;
  background-color: #113676;
}
.square.is-active{
  display: inline-block;
}
.gnb-main-item a {
  display: block;
  text-align: center;
  padding: 16px;
}

.sub {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: max-height 1s ease-in-out;
}

.sub.active {
  max-height: 265px;
}
.box{

  top: -5px;
  left: 50%;
  transform: translate(-50%);
  width: 10px;
  height: 10px;
  background-color: #113676; 
}
/*.sub::before {
  content : '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%);
  width: 10px;
  height: 10px;
  background-color: #113676;
}*/

.slide-wrapper {
  position: relative;
  overflow: hidden;
}

.slide-list {
  display: flex;
  width: 300vw;
  height: 600px;
  transition: transform 300ms ease-in-out;
}

.slide-list li {
  width: 100vw;
  height: 100%;
}

.slide-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.4);
}

.slide-btn li {
  color: #fff;
  margin-right: 20px;
}

.slide-btn li:last-child {
  margin-right: 0;
}

.slide-btn li:hover,
.slide-btn li.active {
  color: #FFE111;
}

.slide-btn li::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 14px;
  margin-left: 20px;
  background-color: #aaa;
}

.slide-btn li:last-child:after {
  content: none;
}

footer {
  margin-top: 60px;
  color: #aaa;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  background-color: #414244;
  padding: 0 40px;
}

.footer-top a {
  color: #aaa;
}

.foot-left {
  display: flex;
}

.foot-left li a {
  display: block;
  padding: 20px;
  font-size: 18px;
  border-left: 1px solid #ccc;
}

.foot-left li:last-child a {
  border-right: 1px solid #ccc;
}

.foot-left li:nth-child(2) a {
  color: #fff;
  font-weight: 700;
}

.foot-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.number {
  color: #fff;
  font-size: 20px;
}

.time {
  font-size: 14px;
}

.footer-bottom {
  padding: 50px 40px;
  background-color: #2d2d30;
}

.footer-bottom img {
  opacity: .5;
}

.footer-bottom ul {
  display: flex;
  margin-top: 30px;
}

.footer-bottom ul li::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #666;
  margin: 0 16px;
  transform: rotate(30deg);
}

.footer-bottom ul li:first-child:before {
  content: none;
}

.footer-bottom p {
  margin-top: 10px;
}

@media screen and (max-width : 1200px) {
  .lg-hidden {
    display: block;
  }

  .lg-only {
    display: none;
  }

  .gnb-log {
    padding: 20px 30px;
  }
  
  .gnb-main {
    padding: 10px 30px;
  }

  .gnb-open-btn {
    border: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 200px;
    height: 100vh;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 5px 0 5px rgba(0, 0, 0, .2);
    background-color: #fff;
    transform: translateX(-200px);
    transition: transform 500ms ease-in-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar-btn {
    float: right;
    border: none;
    font-size: 18px;
    background-color: transparent;
  }

  .sidebar-list {
    clear: right;
    margin-top: 20px;
  }

  .sidebar-item a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .sidebar-item:first-child a {
    border-top: 1px solid #ccc;
  }
}
.Modal-page{
  position: fixed;
  top: -10px;
 transform: translate(28%,12%);
  width: 100%;
  z-index: 160;
 
}
.Modal-page img{
  width: 40%;

  
 
}
.Modal-btn{
  position: relative;
  bottom: 50%;
  left: 38%;

  border: none;
}
.Modal-check{
  transform: translate(50%,50%);
  
}
.modal-checky{

}
.Modal-page-txt{
  transform: translate(50%,50%);
}